!pip install geopy
!pip install geocoder

-----
# Initial Setup

In [27]:
import findspark
findspark.init()
findspark.find()

'C:\\Program Files\\spark-3.5.1-bin-hadoop3'

In [28]:
import pandas as pd
import numpy as np 
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

from functools import reduce

In [3]:
import pyspark
from pyspark import SparkContext
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession

from scipy import stats

# from pyspark.sql.types import *
from pyspark.sql.types import IntegerType, BooleanType, DateType, FloatType, StringType, ArrayType

from pyspark.sql import types
from pyspark.sql import functions as F
from pyspark.sql.functions import mean, stddev, log
from pyspark.sql.functions import to_date, dayofweek, to_timestamp
from pyspark.sql.functions import col, udf
from pyspark.sql.functions import year, month, hour
from pyspark.sql.functions import dayofmonth, weekofyear
from pyspark.sql.functions import split, explode, round
from pyspark.sql.functions import coalesce, first, lit
from pyspark.sql.functions import regexp_extract
from pyspark.sql.functions import datediff
from pyspark.sql.functions import when
from pyspark.sql.functions import expr

from pyspark.ml.feature import Binarizer
from pyspark.ml.feature import Bucketizer
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml.feature import VectorAssembler

from pyspark.ml.regression import LinearRegression
from pyspark.ml.regression import LinearRegressionModel
from pyspark.ml.linalg import Vectors

In [ ]:
import matplotlib.pyplot as plt

In [4]:
spark = SparkSession.builder\
            .appName("trip_records")\
            .getOrCreate()

------
# Data Import

### Improt data of NYC trip records of 2023

In [6]:
jan = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-01.parquet")
feb = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-02.parquet")
mar = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-03.parquet")
apr = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-04.parquet")
may = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-05.parquet")
jun = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-06.parquet")
jul = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-07.parquet")
aug = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-08.parquet")
sep = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-09.parquet")
oct = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-10.parquet")
nov = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-11.parquet")
dec = spark.read \
        .parquet(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\yellowtripdata_2023\yellow_tripdata_2023-12.parquet")

In [7]:
whole_year = [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]

df = reduce(lambda df, df1: df.union(df1), whole_year)

In [11]:
df.count()

38310226

In [12]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [13]:
df.show(100)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01 00:50:34|  2023-01-01 01:02:52|            1.0|         1.84|       1.0|                 N|         161|         137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
|       2| 2023-01-01 00:09:22|  2023-01-01 00:19:49|            1.0|         1.66|       1.0|                 N|         239|         143|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 00:27:12|  2023-01-01 00:49:56|            1.0|         11.7|       1.0|                 N|         142|         200|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|
|       2| 2023-01-01 00:21:44|  2023-01-01 00:36:40|            1.0|         2.95|       1.0|                 N|         164|         236|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|
|       2| 2023-01-01 00:39:42|  2023-01-01 00:50:36|            1.0|         3.01|       1.0|                 N|         141|         107|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|
|       2| 2023-01-01 00:53:01|  2023-01-01 01:01:45|            1.0|          1.8|       1.0|                 N|         234|          68|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       1| 2023-01-01 00:43:37|  2023-01-01 01:17:18|            4.0|          7.3|       1.0|                 N|          79|         264|           1|       33.8|  3.5|    0.5|      7.75|         0.0|                  1.0|       46.55|                 2.5|        0.0|
|       2| 2023-01-01 00:34:44|  2023-01-01 01:04:25|            1.0|         3.23|       1.0|                 N|         164|         143|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|
|       2| 2023-01-01 00:09:29|  2023-01-01 00:29:23|            2.0|        11.43|       1.0|                 N|         138|          33|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|
|       2| 2023-01-01 00:33:53|  2023-01-01 00:49:15|            1.0|         2.95|       1.0|                 N|          33|          61|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|
|       2| 2023-01-01 00:13:04|  2023-01-01 00:22:10|            1.0|         1.52|       1.0|                 N|          79|         186|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|
|       2| 2023-01-01 00:45:11|  2023-01-01 01:07:39|            1.0|         2.23|       1.0|                 N|          90|          48|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|
|       1| 2023-01-01 00:04:33|  2023-01-01 00:19:22|            1.0|          4.5|       1.0|                 N|         113|         255|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|
|       1| 2023-01-01 00:03:36|  2023-01-01 00:09:36|            3.0|          1.2|       1.0|                 N|         237|         239|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       1| 2023-01-01 00:15:23|  2023-01-01 00:29:41|            2.0|          2.5|       1.0|                 N|         143|         229|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
|       1| 2023-01-01 00:51:45|  2023-01-01 00:58:18|            1.0|          1.4|       1.0|                 N|         137|          79|           1|        9.3|  3.5|    0.5|      2.85|         0.0|                  1.0|       17.15|                 2.5|        0.0|
|       1| 2023-01-01 00:13:30|  2023-01-01 00:44:00|            1.0|         17.8|       2.0|                 N|         132|         116|           1|       70.0| 1.25|    0.5|     15.85|        6.55|                  1.0|       95.15|                 0.0|       1.25|
|       1| 2023-01-01 00:21:49|  2023-01-01 00:29:15|            4.0|          0.8|       1.0|                 N|         163|         161|           4|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       1| 2023-01-01 00:52:06|  2023-01-01 01:02:18|            2.0|          1.7|       1.0|                 N|         161|         164|           4|       11.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        16.4|                 2.5|        0.0|
|       2| 2023-01-01 00:19:12|  2023-01-01 00:38:27|            1.0|          5.7|       1.0|                 N|         161|          87|           1|       26.8|  1.0|    0.5|      6.36|         0.0|                  1.0|       38.16|                 2.5|        0.0|
|       2| 2023-01-01 00:31:41|  2023-01-01 00:51:10|            1.0|         1.18|       1.0|                 N|          68|         164|           1|       17.0|  1.0|    0.5|       6.6|         0.0|                  1.0|        28.6|                 2.5|        0.0|
|       2| 2023-01-01 00:58:49|  2023-01-01 01:16:03|            1.0|         2.42|       1.0|                 N|         164|         232|           1|       17.0|  1.0|    0.5|       4.4|         0.0|                  1.0|        26.4|                 2.5|        0.0|
|       1| 2023-01-01 00:22:24|  2023-01-01 00:35:11|            2.0|          2.3|       1.0|                 N|          43|         262|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2023-01-01 00:40:13|  2023-01-01 00:43:03|            1.0|          0.7|       1.0|                 N|         263|         262|           1|        5.1|  3.5|    0.5|      1.82|         0.0|                  1.0|       11.92|                 2.5|        0.0|
|       1| 2023-01-01 00:54:05|  2023-01-01 00:59:36|            1.0|          1.2|       1.0|                 N|         263|         229|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2023-01-01 00:31:30|  2023-01-01 00:46:51|            2.0|          4.1|       1.0|                 N|         170|          75|           2|       19.1|  3.5|    0.5|       0.0|         0.0|                  1.0|        24.1|                 2.5|        0.0|
|       1| 2023-01-01 00:51:55|  2023-01-01 01:19:20|            1.0|          9.5|       1.0|                 N|         263|          36|           1|       38.7|  3.5|    0.5|     15.05|        6.55|                  1.0|        65.3|                 2.5|        0.0|
|       2| 2023-01-01 00:27:16|  2023-01-01 00:59:51|            4.0|         2.02|       1.0|                 N|         163|         186|           2|       26.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        31.1|                 2.5|        0.0|
|       2| 2023-01-01 00:18:08|  2023-01-01 00:32:43|            1.0|         2.17|       1.0|                 N|         161|         107|           2|       14.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.2|                 2.5|        0.0|
|       2| 2023-01-01 00:39:14|  2023-01-01 00:47:26|            2.0|         2.41|       1.0|                 N|         233|         263|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 00:54:20|  2023-01-01 00:56:49|            2.0|          0.6|       1.0|                 N|         236|          75|           1|        5.1|  1.0|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|
|       2| 2023-01-01 00:03:52|  2023-01-01 00:18:27|            1.0|         5.01|       1.0|                 N|         144|         140|           1|       23.3|  1.0|    0.5|      5.66|         0.0|                  1.0|       33.96|                 2.5|        0.0|
|       2| 2023-01-01 00:23:52|  2023-01-01 00:41:20|            1.0|         3.24|       1.0|                 N|         229|         246|           1|       19.1|  1.0|    0.5|       3.0|         0.0|                  1.0|        27.1|                 2.5|        0.0|
|       2| 2023-01-01 00:43:39|  2023-01-01 01:00:58|            1.0|          2.7|       1.0|                 N|          68|         231|           1|       16.3|  1.0|    0.5|      4.26|         0.0|                  1.0|       25.56|                 2.5|        0.0|
|       2| 2023-01-01 00:11:19|  2023-01-01 00:17:36|            2.0|          1.2|       1.0|                 N|         249|          79|           1|        7.9|  1.0|    0.5|       2.0|         0.0|                  1.0|        14.9|                 2.5|        0.0|
|       2| 2023-01-01 00:15:13|  2023-01-01 00:24:45|            5.0|          1.3|       1.0|                 N|          79|         170|           1|       10.7|  1.0|    0.5|      3.14|         0.0|                  1.0|       18.84|                 2.5|        0.0|
|       2| 2023-01-01 00:30:31|  2023-01-01 00:47:03|            5.0|         2.32|       1.0|                 N|         170|          43|           1|       16.3|  1.0|    0.5|      5.32|         0.0|                  1.0|       26.62|                 2.5|        0.0|
|       2| 2023-01-01 00:47:59|  2023-01-01 01:16:34|            5.0|         2.35|       1.0|                 N|          43|         233|           1|       23.3|  1.0|    0.5|      5.66|         0.0|                  1.0|       33.96|                 2.5|        0.0|
|       2| 2023-01-01 00:21:29|  2023-01-01 00:25:11|            1.0|         0.61|       1.0|                 N|          79|           4|           1|        5.8|  1.0|    0.5|      2.16|         0.0|                  1.0|       12.96|                 2.5|        0.0|
|       2| 2023-01-01 00:35:13|  2023-01-01 00:46:47|            1.0|         2.27|       1.0|                 N|          79|         162|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       2| 2023-01-01 00:56:38|  2023-01-01 01:00:02|            1.0|         0.82|       1.0|                 N|         229|         141|           1|        5.8|  1.0|    0.5|      2.16|         0.0|                  1.0|       12.96|                 2.5|        0.0|
|       2| 2023-01-01 00:47:20|  2023-01-01 00:54:36|            2.0|         1.72|       1.0|                 N|         162|         224|           2|       10.0|  1.0|    0.5|       0.0|         0.0|                  1.0|        15.0|                 2.5|        0.0|
|       2| 2023-01-01 00:56:22|  2023-01-01 01:10:38|            2.0|         1.75|       1.0|                 N|         224|          68|           1|       14.9|  1.0|    0.5|      3.98|         0.0|                  1.0|       23.88|                 2.5|        0.0|
|       2| 2023-01-01 00:41:41|  2023-01-01 01:19:32|            1.0|        11.11|       1.0|                 N|         132|          61|           1|       47.8|  1.0|    0.5|     10.31|         0.0|                  1.0|       61.86|                 0.0|       1.25|
|       1| 2023-01-01 00:20:24|  2023-01-01 00:23:54|            2.0|          0.2|       1.0|                 N|         236|         236|           2|        5.1|  3.5|    0.5|       0.0|         0.0|                  1.0|        10.1|                 2.5|        0.0|
|       1| 2023-01-01 00:34:28|  2023-01-01 00:48:30|            1.0|          2.4|       1.0|                 N|         142|         170|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
|       1| 2023-01-01 00:56:04|  2023-01-01 01:09:09|            2.0|          2.9|       1.0|                 N|         107|         145|           1|       15.6|  3.5|    0.5|       5.4|        6.55|                  1.0|       32.55|                 2.5|        0.0|
|       1| 2023-01-01 00:13:29|  2023-01-01 00:23:51|            1.0|          1.2|       1.0|                 N|         164|         161|           2|       10.0|  3.5|    0.5|       0.0|         0.0|                  1.0|        15.0|                 2.5|        0.0|
|       1| 2023-01-01 00:25:34|  2023-01-01 00:36:24|            1.0|          1.6|       1.0|                 N|         161|         140|           2|       10.7|  3.5|    0.5|       0.0|         0.0|                  1.0|        15.7|                 2.5|        0.0|
|       1| 2023-01-01 00:46:17|  2023-01-01 01:25:30|            1.0|          3.3|       1.0|                 N|          43|         125|           1|       30.3|  3.5|    0.5|       2.0|         0.0|                  1.0|        37.3|                 2.5|        0.0|
|       2| 2023-01-01 00:22:32|  2023-01-01 00:32:55|            2.0|         2.35|       1.0|                 N|         142|          24|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       2| 2023-01-01 00:36:54|  2023-01-01 00:55:55|            1.0|          3.4|       1.0|                 N|         151|         237|           1|       20.5|  1.0|    0.5|      7.65|         0.0|                  1.0|       33.15|                 2.5|        0.0|
|       2| 2023-01-01 00:38:12|  2023-01-01 00:44:00|            1.0|         1.15|       1.0|                 N|         236|          43|           1|        7.9|  1.0|    0.5|      1.94|         0.0|                  1.0|       14.84|                 2.5|        0.0|
|       2| 2023-01-01 00:45:25|  2023-01-01 00:50:14|            1.0|         0.86|       1.0|                 N|         239|         239|           1|        7.2|  1.0|    0.5|       5.0|         0.0|                  1.0|        17.2|                 2.5|        0.0|
|       2| 2023-01-01 00:22:39|  2023-01-01 01:30:45|            1.0|        16.02|       1.0|                 N|         132|         265|           2|       61.1|  1.0|    0.5|       0.0|         0.0|                  1.0|       64.85|                 0.0|       1.25|
|       2| 2023-01-01 00:20:07|  2023-01-01 00:40:55|            1.0|         3.31|       1.0|                 N|          68|         163|           1|       21.9|  1.0|    0.5|       2.0|         0.0|                  1.0|        28.9|                 2.5|        0.0|
|       2| 2023-01-01 00:42:11|  2023-01-01 00:43:02|            1.0|         0.03|       1.0|                 N|         163|         163|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2023-01-01 00:44:55|  2023-01-01 00:56:46|            1.0|         1.38|       1.0|                 N|         163|         233|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 00:59:58|  2023-01-01 01:11:43|            1.0|         2.04|       1.0|                 N|         137|         114|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2023-01-01 00:18:29|  2023-01-01 00:55:20|            1.0|         11.3|       1.0|                 N|         163|         225|           1|       48.5|  3.5|    0.5|      10.7|         0.0|                  1.0|        64.2|                 2.5|        0.0|
|       2| 2023-01-01 00:20:45|  2023-01-01 00:34:37|            1.0|         3.31|       1.0|                 N|         137|         236|           2|       16.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        21.3|                 2.5|        0.0|
|       2| 2023-01-01 00:46:17|  2023-01-01 01:14:16|            1.0|          9.0|       1.0|                 N|         239|         211|           1|       39.4|  1.0|    0.5|      11.1|         0.0|                  1.0|        55.5|                 2.5|        0.0|
|       1| 2023-01-01 00:29:27|  2023-01-01 00:48:01|            3.0|          3.0|       1.0|                 N|         211|         246|           1|       19.8|  3.5|    0.5|       0.0|         0.0|                  1.0|        24.8|                 2.5|        0.0|
|       1| 2023-01-01 00:56:44|  2023-01-01 01:01:46|            1.0|          0.4|       1.0|                 N|          68|         158|           1|        6.5|  3.5|    0.5|       1.5|         0.0|                  1.0|        13.0|                 2.5|        0.0|
|       1| 2023-01-01 00:08:33|  2023-01-01 00:10:20|            4.0|          0.3|       1.0|                 N|         148|          79|           1|        3.7|  3.5|    0.5|       1.7|         0.0|                  1.0|        10.4|                 2.5|        0.0|

### Import taxi zone data of NYC

In this dataset, the name of each borough and zone is corresponding to the ID of the main dataset, NYC trip records

In [8]:
zones = spark.read.option("header", True) \
             .csv(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\taxi_zones.csv")

In [13]:
zones.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [14]:
zones.show(20)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

-----
# 1. Data Cleaning

### 1.1. Remove Unwanted Data

# Remove Duplicates
df = df.dropDuplicates()

In [9]:
df = df.filter(
    (col('trip_distance') >0) &
    (col('trip_distance') <100) &
    (col('fare_amount') >0) &
    (col('extra') >= 0) &
    (col('mta_tax') >0) &
    (col('tip_amount') >= 0) &
    (col('tolls_amount') >= 0) &
    (col('total_amount') > 0) &
    (col('congestion_surcharge') >= 0) &
    (col('passenger_count') < 8) &
    (col('tpep_pickup_datetime') >= '2023-01-01') &
    (col('tpep_pickup_datetime') < '2024-01-01') &
    (col('tpep_dropoff_datetime') >= '2023-01-01') &
    (col('tpep_dropoff_datetime') < '2024-01-01'))

In [10]:
df.cache()

DataFrame[VendorID: bigint, tpep_pickup_datetime: timestamp_ntz, tpep_dropoff_datetime: timestamp_ntz, passenger_count: double, trip_distance: double, RatecodeID: double, store_and_fwd_flag: string, PULocationID: bigint, DOLocationID: bigint, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double, airport_fee: double]

In [13]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [17]:
df.count()

35944809

##### Remove null values

In [37]:
# Find null values
from pyspark.sql.functions import sum as spark_sum
# df.select([col(column).isNull().alias(column) for column in df.columns]).sum().show()
df.select([spark_sum(col(column).isNull().cast("int")).alias(column) for column in df.columns]).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+------------+-------------+--------------+-----------+---------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_hour|dropoff_hour|dow_pickup|dow_dropoff|month_pickup|month_dropoff|pickup_borough|pickup_zone|dropoff_borough|dropoff_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+------------+-------------+--------------+-----------+---------------+------------+
|       0|                   0|                    0|              0|            0|         0|                 0|           0|          0|    0|      0|         0|           0|                    0|           0|                   0|          0|          0|           0|         0|          0|           0|            0|             0|          0|              0|           0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+------------+-------------+--------------+-----------+---------------+------------+

=> No have null

### 1.3. The Additon Days-of-week (DOW) and Month Column

In [10]:
df = df.withColumn("pickup_hour", F.date_format("tpep_pickup_datetime", "HH")) \
        .withColumn("dropoff_hour", F.date_format("tpep_dropoff_datetime", "HH")) \
        .withColumn("dow_pickup", F.date_format("tpep_pickup_datetime", "EEEE")) \
        .withColumn("dow_dropoff", F.date_format("tpep_pickup_datetime", "EEEE")) \
        .withColumn("month_pickup", F.date_format("tpep_pickup_datetime", "MMMM")) \
        .withColumn("month_dropoff", F.date_format("tpep_dropoff_datetime", "MMMM"))

In [26]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- pickup_hour: string (nullable = true)
 |-- dropoff_hour: string (nullable = true)
 |-- dow_pickup: string (nullable = true)
 |-- dow_dropoff: string (nullable = true)
 |-- month_pickup: string (nullable = true)
 |-- month_dropoff: string (nullable = true)

### 1.4. Geospatial Analysis

In [29]:
zones.show(20)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [11]:
# Create pickup_borough and pickup_zone first
df = df.join(zones, df["PULocationID"] == zones["LocationID"], "left") \
        .select(df["*"], zones["Borough"].alias("pickup_borough"), zones["Zone"].alias("pickup_zone")) \
        .drop("PULocationID")

In [12]:
# then, create dropoff_borough, dropoff_zone
df = df.join(zones, df["DOLocationID"] == zones["LocationID"], "left") \
        .withColumn("dropoff_borough", col("Borough")) \
        .withColumn("dropoff_zone", col("Zone")) \
        .drop("DOLocationID", "service_zone", "LocationID", "Borough", "Zone")

In [32]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- pickup_hour: string (nullable = true)
 |-- dropoff_hour: string (nullable = true)
 |-- dow_pickup: string (nullable = true)
 |-- dow_dropoff: string (nullable = true)
 |-- month_pickup: string (nullable = true)
 |-- month_dropoff: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)
 |-- dropoff_zone: string (nullable = true)

cleaned_df = df.write.format("parquet").mode("ignore").save(r"C:\Users\USER\Desktop\Aptech_FinalProject_Sem2\Data\cleaned_df.parquet")

#### Summary of

-----
## 2. Peak Hours and Traffic Analysis
_Investigate the peak hours and traffic patterns based on the pickup and drop-off timestamps. Identify the busiest hours of the day, days of the week, or months of the year. Analyze the average trip duration and fare amount during different time periods to understand the impact of traffic congestion on taxi trips._

In [13]:
df.createOrReplaceTempView('peak')
peak = spark.table('peak')
peak.show(20)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+------------+-------------+--------------+--------------------+---------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_hour|dropoff_hour|dow_pickup|dow_dropoff|month_pickup|month_dropoff|pickup_borough|         pickup_zone|dropoff_borough|        dropoff_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+------------+-------------+--------------+--------------------+---------------+--------------------+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|      Midtown Center|      Manhattan|     Lenox Hill West|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|         00|          01|    Sunday|     Sunday|     January|      January|     Manhattan|        Central Park|      Manhattan|Upper East Side S...|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|        Clinton East|      Manhattan|Upper West Side N...|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|         00|          00|    Sunday|     Sunday|     January|      January|        Queens|   LaGuardia Airport|         Queens|             Astoria|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|            Gramercy|      Manhattan|        East Village|
|       2| 2023-01-01 00:50:34|  2023-01-01 01:02:52|            1.0|         1.84|       1.0|                 N|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|         00|          01|    Sunday|     Sunday|     January|      January|     Manhattan|      Midtown Center|      Manhattan|            Kips Bay|
|       2| 2023-01-01 00:09:22|  2023-01-01 00:19:49|            1.0|         1.66|       1.0|                 N|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|Upper West Side S...|      Manhattan| Lincoln Square West|
|       2| 2023-01-01 00:27:12|  2023-01-01 00:49:56|            1.0|         11.7|       1.0|                 N|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan| Lincoln Square East|          Bronx|Riverdale/North R...|
|       2| 2023-01-01 00:21:44|  2023-01-01 00:36:40|            1.0|         2.95|       1.0|                 N|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|       Midtown South|      Manhattan|Upper East Side N...|
|       2| 2023-01-01 00:39:42|  2023-01-01 00:50:36|            1.0|         3.01|       1.0|                 N|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|     Lenox Hill West|      Manhattan|            Gramercy|
|       2| 2023-01-01 00:53:01|  2023-01-01 01:01:45|            1.0|          1.8|       1.0|                 N|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|         00|          01|    Sunday|     Sunday|     January|      January|     Manhattan|            Union Sq|      Manhattan|        East Chelsea|
|       1| 2023-01-01 00:43:37|  2023-01-01 01:17:18|            4.0|          7.3|       1.0|                 N|           1|       33.8|  3.5|    0.5|      7.75|         0.0|                  1.0|       46.55|                 2.5|        0.0|         00|          01|    Sunday|     Sunday|     January|      January|     Manhattan|        East Village|        Unknown|                 N/A|
|       2| 2023-01-01 00:34:44|  2023-01-01 01:04:25|            1.0|         3.23|       1.0|                 N|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|         00|          01|    Sunday|     Sunday|     January|      January|     Manhattan|       Midtown South|      Manhattan| Lincoln Square West|
|       2| 2023-01-01 00:09:29|  2023-01-01 00:29:23|            2.0|        11.43|       1.0|                 N|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|         00|          00|    Sunday|     Sunday|     January|      January|        Queens|   LaGuardia Airport|       Brooklyn|    Brooklyn Heights|
|       2| 2023-01-01 00:33:53|  2023-01-01 00:49:15|            1.0|         2.95|       1.0|                 N|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|      Brooklyn|    Brooklyn Heights|       Brooklyn| Crown Heights North|
|       2| 2023-01-01 00:13:04|  2023-01-01 00:22:10|            1.0|         1.52|       1.0|                 N|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|        East Village|      Manhattan|Penn Station/Madi...|
|       2| 2023-01-01 00:45:11|  2023-01-01 01:07:39|            1.0|         2.23|       1.0|                 N|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|         00|          01|    Sunday|     Sunday|     January|      January|     Manhattan|            Flatiron|      Manhattan|        Clinton East|
|       1| 2023-01-01 00:04:33|  2023-01-01 00:19:22|            1.0|          4.5|       1.0|                 N|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|Greenwich Village...|       Brooklyn|Williamsburg (Nor...|
|       1| 2023-01-01 00:03:36|  2023-01-01 00:09:36|            3.0|          1.2|       1.0|                 N|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan|Upper East Side S...|      Manhattan|Upper West Side S...|
|       1| 2023-01-01 00:15:23|  2023-01-01 00:29:41|            2.0|          2.5|       1.0|                 N|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|         00|          00|    Sunday|     Sunday|     January|      January|     Manhattan| Lincoln Square West|      Manhattan|Sutton Place/Turt...|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+------------+-------------+--------------+--------------------+---------------+--------------------+
only showing top 20 rows

### 2.1. Extract Time Information 
_Extract relevant time information from the dataset, such as the pickup or drop-off timestamps. You can use PySpark's date/time functions to extract hour, day of the week, or month information._

In [14]:
peak.select('pickup_hour', 'dropoff_hour', 
            'dow_pickup', 'dow_dropoff', 
            'month_pickup', 'month_dropoff') \
    .show(10)

+-----------+------------+----------+-----------+------------+-------------+
|pickup_hour|dropoff_hour|dow_pickup|dow_dropoff|month_pickup|month_dropoff|
+-----------+------------+----------+-----------+------------+-------------+
|         00|          00|    Sunday|     Sunday|     January|      January|
|         00|          01|    Sunday|     Sunday|     January|      January|
|         00|          00|    Sunday|     Sunday|     January|      January|
|         00|          00|    Sunday|     Sunday|     January|      January|
|         00|          00|    Sunday|     Sunday|     January|      January|
|         00|          01|    Sunday|     Sunday|     January|      January|
|         00|          00|    Sunday|     Sunday|     January|      January|
|         00|          00|    Sunday|     Sunday|     January|      January|
|         00|          00|    Sunday|     Sunday|     January|      January|
|         00|          00|    Sunday|     Sunday|     January|      January|
+-----------+------------+----------+-----------+------------+-------------+
only showing top 10 rows

### 2.2. Calculate Trip Volumes
* Calculate the number of trips for each hour of the day or day of the week. This will help you identify the peak hours or busiest days for taxi trips.
* Compare Weekdays and Weekends: Compare the patterns and trends observed during weekdays and weekends. This analysis can help identify any differences in peak hours or traffic congestion between these time periods.

=> Pick-up time to identify the peak period

In [15]:
peak.groupBy('pickup_hour') \
    .agg(F.count('tpep_pickup_datetime').alias('num_of_trips')) \
    .orderBy('pickup_hour', ascending = True) \
    .show(25)

+-----------+------------+
|pickup_hour|num_of_trips|
+-----------+------------+
|         00|     1003289|
|         01|      671272|
|         02|      439776|
|         03|      284071|
|         04|      177975|
|         05|      191106|
|         06|      475863|
|         07|      956067|
|         08|     1339203|
|         09|     1534347|
|         10|     1680487|
|         11|     1824152|
|         12|     1977300|
|         13|     2036244|
|         14|     2180766|
|         15|     2237222|
|         16|     2238822|
|         17|     2432897|
|         18|     2550783|
|         19|     2287498|
|         20|     2042934|
|         21|     2036656|
|         22|     1874685|
|         23|     1471394|
+-----------+------------+

In [16]:
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

peak2 = peak.groupBy('pickup_hour', 'dow_pickup') \
            .agg(F.count("pickup_hour").alias("trips")) \
            .groupBy("pickup_hour") \
            .pivot("dow_pickup", day_order) \
            .sum("trips") \
            .orderBy("pickup_hour")

In [17]:
peak2.show(25)

+-----------+------+-------+---------+--------+------+--------+------+
|pickup_hour|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday|
+-----------+------+-------+---------+--------+------+--------+------+
|         00| 74577|  68478|    90260|  111151|156060|  247116|255647|
|         01| 38220|  31184|    41294|   54181| 89561|  201324|215508|
|         02| 20057|  15891|    20757|   28772| 51063|  148096|155140|
|         03| 13622|   9665|    12815|   17784| 29597|   94432|106156|
|         04| 14174|  11255|    12878|   15796| 21380|   46240| 56252|
|         05| 28066|  28559|    29048|   29857| 29967|   21356| 24253|
|         06| 75821|  82630|    83892|   84645| 73292|   38824| 36759|
|         07|149291| 178236|   182696|  180877|144751|   62868| 57348|
|         08|202612| 245456|   252810|  249099|196221|  103846| 89159|
|         09|217331| 261184|   265883|  263639|221737|  161578|142995|
|         10|227091| 261665|   268956|  269454|240744|  213460|199117|
|         11|238698| 272568|   283063|  285783|257196|  251953|234891|
|         12|256659| 288114|   303111|  305150|274619|  281924|267723|
|         13|266955| 294571|   310278|  306905|286749|  294849|275937|
|         14|290031| 324459|   332343|  333144|320190|  295360|285239|
|         15|301181| 332254|   338803|  346157|328884|  309358|280585|
|         16|298973| 331460|   339077|  343300|324023|  318266|283723|
|         17|325299| 368550|   382460|  384296|361017|  328591|282684|
|         18|333631| 394648|   414196|  417033|383807|  334616|272852|
|         19|284570| 340161|   372601|  366585|356394|  326448|240739|
|         20|259224| 317289|   341119|  339045|291792|  270955|223510|
|         21|246685| 321802|   345843|  347817|291135|  273880|209494|
|         22|196065| 269594|   306187|  319022|310394|  299527|173896|
|         23|128821| 178719|   205159|  244590|291108|  293747|129250|
+-----------+------+-------+---------+--------+------+--------+------+

In [18]:
peak2a = peak.groupBy('pickup_hour', 'month_pickup') \
            .agg(F.count('tpep_pickup_datetime').alias('num_of_trips'))

month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']

peak2a.groupBy('pickup_hour') \
        .pivot('month_pickup', month_order) \
        .sum('num_of_trips') \
        .orderBy('pickup_hour') \
        .show(25)

+-----------+-------+--------+------+------+------+------+------+------+---------+-------+--------+--------+
|pickup_hour|January|February| March| April|   May|  June|  July|August|September|October|November|December|
+-----------+-------+--------+------+------+------+------+------+------+---------+-------+--------+--------+
|         00|  80314|   73117| 87129| 89700| 88126| 94159| 83289| 73355|    72262|  90252|   77981|   93605|
|         01|  56051|   48530| 57038| 60187| 57046| 61449| 57994| 49232|    47051|  61328|   53707|   61659|
|         02|  39069|   33342| 32828| 39329| 36643| 41019| 39237| 32076|    30795|  42256|   33032|   40150|
|         03|  25120|   21494| 24638| 24097| 23473| 25370| 24654| 19936|    20024|  27957|   21643|   25665|
|         04|  15670|   13503| 15526| 14368| 14860| 15900| 14941| 12531|    12685|  17465|   14461|   16065|
|         05|  15925|   14441| 16843| 15432| 17235| 17052| 15301| 15147|    14321|  17912|   16774|   14723|
|         06|  40076|   37885| 43394| 39428| 44740| 41223| 36109| 38264|    37935|  42140|   40083|   34586|
|         07|  80608|   75401| 88853| 79025| 91795| 80822| 66174| 68121|    77815|  89870|   84012|   73571|
|         08| 109523|  104562|124578|111058|125969|116586| 98845|101352|   104538| 122282|  115763|  104147|
|         09| 124463|  119318|139925|131288|141404|132269|114462|117689|   116342| 139032|  132151|  126004|
|         10| 137402|  129457|148823|146350|154129|144588|126847|126147|   126630| 150922|  144517|  144675|
|         11| 147373|  139202|163463|162160|167570|155602|139871|134012|   135056| 164082|  156569|  159192|
|         12| 162344|  150667|175671|174563|180179|168942|153067|147610|   144012| 176641|  168959|  174645|
|         13| 170984|  157463|178629|178122|184362|176343|157333|153352|   143227| 180820|  175565|  180044|
|         14| 183250|  170078|194679|188858|200235|187488|165137|162381|   152224| 195731|  189654|  191051|
|         15| 187817|  174272|197802|191903|204796|188328|168188|168562|   157210| 200287|  198390|  199667|
|         16| 187014|  176312|198714|194819|204775|187632|169496|167832|   158995| 200881|  197684|  194668|
|         17| 200034|  190814|221127|213119|224313|204154|181509|176971|   178644| 221523|  214587|  206102|
|         18| 206370|  199244|234585|220505|238848|221683|191468|182780|   185044| 232794|  224493|  212969|
|         19| 185032|  177759|211013|194397|214445|195868|171577|163520|   167259| 213285|  198987|  194356|
|         20| 159321|  154393|187563|179421|190326|171868|148750|149735|   153738| 190676|  180770|  176373|
|         21| 155129|  154038|184171|174547|194352|179898|152542|148621|   147356| 187014|  183166|  175822|
|         22| 141393|  142279|169111|163851|179479|170566|142442|134045|   133448| 169190|  166297|  162584|
|         23| 109379|  107457|134710|129042|139575|138137|116216|106729|   106440| 130319|  122509|  130881|
+-----------+-------+--------+------+------+------+------+------+------+---------+-------+--------+--------+

### 2.3. Analyze Trip Durations
* Compute average trip durations for different time periods, such as hours or days of the week. This will allow you to observe any variations in trip durations during peak and off-peak hours.
* Analyze the traffic patterns by exploring the relationship between trip durations and traffic congestion. You can investigate if trip durations tend to be longer during specific hours or days of the week, indicating higher traffic volumes.

In [19]:
from pyspark.sql.functions import expr

peak3 = peak.withColumn('trip_duration',
                        (expr('UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)')/ 60)
                        .cast('double'))

In [20]:
peak3.groupBy('Pickup_hour') \
        .agg(F.round(F.mean('trip_duration'), 2).alias('mean_trip_duration'), 
             F.count('tpep_pickup_datetime').alias('num_of_trips')) \
        .select('Pickup_hour', 'mean_trip_duration', 'num_of_trips') \
        .orderBy('Pickup_hour') \
        .show(25)

+-----------+------------------+------------+
|Pickup_hour|mean_trip_duration|num_of_trips|
+-----------+------------------+------------+
|         00|             15.79|     1003289|
|         01|             14.98|      671272|
|         02|              13.9|      439776|
|         03|             14.17|      284071|
|         04|             15.49|      177975|
|         05|             16.09|      191106|
|         06|             15.87|      475863|
|         07|             15.77|      956067|
|         08|             16.43|     1339203|
|         09|             16.66|     1534347|
|         10|             17.09|     1680487|
|         11|              17.7|     1824152|
|         12|              18.1|     1977300|
|         13|             18.75|     2036244|
|         14|             19.87|     2180766|
|         15|              20.3|     2237222|
|         16|             20.34|     2238822|
|         17|             18.82|     2432897|
|         18|             16.97|     2550783|
|         19|             16.01|     2287498|
|         20|             15.72|     2042934|
|         21|             15.57|     2036656|
|         22|             16.11|     1874685|
|         23|             16.35|     1471394|
+-----------+------------------+------------+

In [21]:
peak3.groupBy('dow_pickup') \
        .agg(F.count('tpep_pickup_datetime').alias('num_of_trips'),
             F.round(F.mean('trip_duration'), 2).alias('mean_trip_duration')) \
        .orderBy('dow_pickup') \
        .select('dow_pickup', 'num_of_trips', 'mean_trip_duration') \
        .show(10)

+----------+------------+------------------+
|dow_pickup|num_of_trips|mean_trip_duration|
+----------+------------+------------------+
|    Friday|     5331681|             17.71|
|    Monday|     4487654|             17.03|
|  Saturday|     5218614|             16.58|
|    Sunday|     4498857|             16.57|
|  Thursday|     5644082|             18.26|
|   Tuesday|     5228392|             17.52|
| Wednesday|     5535529|              17.8|
+----------+------------+------------------+

In [22]:
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

peak3.groupBy('pickup_hour') \
        .pivot('dow_pickup', day_order) \
        .mean('trip_duration') \
        .orderBy('pickup_hour') \
        .select('pickup_hour', *[round(col, 2).alias(col) for col in day_order]) \
        .show(25)

+-----------+------+-------+---------+--------+------+--------+------+
|pickup_hour|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday|
+-----------+------+-------+---------+--------+------+--------+------+
|         00| 16.71|   16.6|    15.47|   15.21| 15.47|   15.96| 15.71|
|         01| 16.23|   16.0|    14.58|   14.53| 14.09|   14.64|  15.5|
|         02| 14.52|  15.34|    13.75|   13.38|  13.4|   13.85| 13.99|
|         03| 15.86|  15.46|     13.9|   13.75| 13.66|   13.95| 14.27|
|         04| 16.93|  17.38|     16.7|   16.93| 16.01|   14.57| 14.64|
|         05| 16.34|  15.87|     15.4|   15.95| 16.14|   16.21| 16.86|
|         06| 16.59|  15.65|    15.31|   15.91| 16.45|    15.1| 15.68|
|         07| 17.03|  15.62|    15.55|   15.71| 16.18|   14.15| 14.51|
|         08| 17.13|   17.2|    16.82|   17.03| 16.49|   13.45| 13.26|
|         09| 17.04|   17.9|    17.56|   17.75| 17.29|   13.36| 12.92|
|         10| 17.41|  18.55|    18.42|    18.5| 17.69|   14.03| 13.68|
|         11| 17.65|  18.93|    19.42|   19.24| 18.48|   14.87| 14.54|
|         12| 17.61|  18.93|    19.53|    19.7|  18.4|   16.06| 16.06|
|         13|  17.9|  19.16|    19.94|   20.14| 19.37|   16.97| 17.54|
|         14| 19.04|  20.02|    20.84|   21.45| 20.61|   17.86| 18.84|
|         15| 19.44|  20.36|    21.09|   21.92| 21.05|   18.43|  19.4|
|         16| 19.28|  20.46|    20.94|    22.1| 20.68|   19.07| 19.48|
|         17| 17.77|  18.75|    19.57|   20.07| 18.38|   18.31| 18.57|
|         18| 15.61|  16.52|     17.0|   17.75| 16.74|   17.74| 17.43|
|         19| 14.67|  15.08|    15.55|   16.31| 16.19|   17.48| 16.93|
|         20| 14.58|  14.69|    15.16|   16.02| 16.17|   17.14| 16.63|
|         21| 14.81|  14.54|    14.97|   15.73|  16.3|   16.74| 16.17|
|         22| 15.53|  15.15|    15.39|   16.23| 16.79|   16.94| 16.61|
|         23| 16.38|  15.76|    15.81|   16.15| 16.64|    16.8| 16.69|
+-----------+------+-------+---------+--------+------+--------+------+

In [23]:
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']

peak3.groupBy('pickup_hour') \
        .pivot('month_pickup', month_order) \
        .mean('trip_duration') \
        .orderBy('pickup_hour') \
        .select('pickup_hour', *[round(col, 2).alias(col) for col in month_order]) \
        .show(25)

+-----------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+
|pickup_hour|January|February|March|April|  May| June| July|August|September|October|November|December|
+-----------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+
|         00|  15.56|   14.81|15.63|15.91|16.03|15.95|16.09| 15.97|    16.09|  16.25|   15.38|   15.69|
|         01|  14.85|   14.78|15.73|14.62| 14.9|15.38|15.19| 14.45|    14.88|  14.51|    16.8|   13.83|
|         02|  14.59|   13.74|15.01|13.59|13.83|13.81|14.25| 13.82|    14.02|  13.94|   13.19|   13.06|
|         03|  14.47|   14.19|14.84|14.17|14.52|14.14|14.98| 13.92|     14.4|  13.93|   13.56|   12.93|
|         04|  15.61|   14.91|15.06|14.96|14.84| 15.6|15.64| 15.45|    15.82|  16.69|   15.34|   15.74|
|         05|  15.23|   15.66|15.81|16.09|15.24|15.35|15.89| 15.66|    16.75|  17.19|   17.32|   16.81|
|         06|  14.92|   15.65|16.29|15.54|15.71|15.22| 15.0| 15.12|    16.73|  16.98|   16.75|   16.44|
|         07|   15.0|   15.45|15.47|15.63|15.98|15.36|14.83| 14.86|    16.78|  16.58|   16.62|   16.24|
|         08|  15.57|   15.69|15.91|15.92|16.79|16.49| 16.0|  15.8|    18.16|   17.3|    17.2|   16.14|
|         09|  15.22|   16.02| 16.5|16.02|16.84| 16.6|16.27| 16.28|    18.42|   17.6|   17.37|   16.73|
|         10|  15.21|   15.53|16.72|16.56|17.72|17.49|16.59| 17.11|     18.9|  17.88|   17.87|   17.39|
|         11|  15.07|   15.82| 16.9|17.25|18.92|18.31|17.36| 17.53|    19.65|  18.65|   18.61|   18.07|
|         12|  15.31|   16.16|17.51|18.03|19.47|18.68|17.82|  17.9|    19.81|  18.98|    18.9|   18.39|
|         13|  16.09|   16.63|17.93| 18.8|20.13|19.51| 18.0| 18.37|    20.59|  19.63|   19.78|   19.42|
|         14|  17.47|   17.77|18.99|19.71|21.15|20.46|18.74| 18.93|    21.83|  21.23|   20.95|   20.94|
|         15|  17.49|   17.76|19.43|20.36| 21.6|20.73|19.18| 19.57|    22.28|  21.78|   21.55|   21.52|
|         16|   17.5|   17.58|19.97|20.51|21.67|21.01|19.63| 19.59|    22.03|  21.22|    21.3|    21.7|
|         17|  16.85|   16.89|17.88|18.87|19.48|18.85|18.13| 18.53|    20.32|  19.56|   19.88|    20.4|
|         18|   15.2|   15.58|16.17|16.68|17.25|16.72|16.62| 16.36|    18.15|  18.17|   17.86|    18.7|
|         19|  14.53|   15.15|15.16|15.51|16.17|15.67|15.56| 15.52|    16.98|  17.12|   16.95|    17.6|
|         20|  14.28|   14.67|14.83|15.16|15.71|15.51|15.74|  15.8|    16.86|  16.78|   16.28|   16.91|
|         21|  14.31|   14.57| 15.0|15.15|15.48|15.76|15.78| 15.65|    16.53|   16.5|   15.63|   16.32|
|         22|  15.05|   15.12|15.78|15.89|16.04|16.75|16.36| 15.94|    16.67|  16.66|   16.22|   16.58|
|         23|  15.34|   15.39|15.93|16.35|16.65|16.83|16.73| 16.21|    16.84|  17.01|    16.2|   16.43|
+-----------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+

### 2.4. Explore Fare Amounts
Analyze the fare amounts during different time periods to understand how fares vary throughout the day or week. You can calculate average fares or observe fare distribution patterns.

In [24]:
peak.groupBy('pickup_hour') \
    .agg(
        F.count('tpep_pickup_datetime').alias('num_of_trips'), 
        F.round(F.mean('fare_amount'), 2).alias('mean_fare')) \
    .orderBy('pickup_hour') \
    .select('pickup_hour', 'num_of_trips', 'mean_fare') \
    .show(25)

+-----------+------------+---------+
|pickup_hour|num_of_trips|mean_fare|
+-----------+------------+---------+
|         00|     1003289|    19.81|
|         01|      671272|    17.87|
|         02|      439776|    16.66|
|         03|      284071|    17.34|
|         04|      177975|    22.11|
|         05|      191106|    25.99|
|         06|      475863|    22.18|
|         07|      956067|    18.89|
|         08|     1339203|    18.15|
|         09|     1534347|    18.31|
|         10|     1680487|    18.63|
|         11|     1824152|    18.75|
|         12|     1977300|    19.06|
|         13|     2036244|    19.91|
|         14|     2180766|    20.49|
|         15|     2237222|    20.54|
|         16|     2238822|    20.53|
|         17|     2432897|    19.25|
|         18|     2550783|    17.95|
|         19|     2287498|    18.11|
|         20|     2042934|    18.68|
|         21|     2036656|    18.87|
|         22|     1874685|    19.65|
|         23|     1471394|    20.72|
+-----------+------------+---------+

In [25]:
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

peak.groupBy('pickup_hour') \
    .pivot('dow_pickup', day_order) \
    .mean('fare_amount') \
    .orderBy('pickup_hour') \
    .select('pickup_hour', *[round(col, 2).alias(col) for col in day_order]) \
    .show(25)

+-----------+------+-------+---------+--------+------+--------+------+
|pickup_hour|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday|
+-----------+------+-------+---------+--------+------+--------+------+
|         00| 26.55|  25.32|     21.8|   20.32| 19.23|   17.86| 17.66|
|         01| 25.19|  24.82|    20.68|   19.41| 17.94|   16.13| 16.25|
|         02| 22.18|  23.03|    19.51|   17.77| 16.75|   15.47| 15.81|
|         03| 23.23|  24.45|    20.68|   19.26| 18.07|   15.88|  16.3|
|         04| 27.98|  28.47|    27.47|   25.81| 24.48|   18.63| 19.05|
|         05| 26.81|  24.91|    24.76|   25.14| 26.48|   26.53| 27.79|
|         06| 22.59|  20.49|    19.98|   20.94| 22.48|   25.97| 28.38|
|         07|  19.5|  17.71|    17.59|   17.84| 18.92|   22.32|  24.6|
|         08|  18.6|  17.84|    17.55|   17.61|  18.1|   18.71| 20.67|
|         09| 18.82|  18.49|    18.17|   18.27| 18.71|   17.11| 18.29|
|         10| 19.21|  19.62|    18.79|   18.88| 18.98|   16.76| 17.69|
|         11| 19.35|  19.25|    19.33|   19.43| 19.17|   16.83| 17.64|
|         12| 19.39|  19.28|    19.56|   19.73| 19.29|    17.4| 18.68|
|         13| 21.34|  19.77|    20.09|   20.38| 19.83|   18.18| 19.89|
|         14| 20.56|  20.36|    20.75|   21.09| 20.45|   19.25| 20.89|
|         15| 20.42|  20.24|    20.47|   20.95| 20.32|    20.0| 21.48|
|         16| 20.55|  20.26|    20.57|   21.05| 20.33|   19.52| 21.48|
|         17| 19.12|  18.93|    19.25|   19.46| 18.71|   18.85| 20.71|
|         18| 17.68|  17.46|    17.64|   18.02| 17.41|   18.21| 19.82|
|         19| 18.26|  17.56|    17.62|   17.97| 17.57|   18.17| 20.42|
|         20|  19.0|  18.06|    18.06|   18.52| 18.36|   18.55| 20.91|
|         21| 19.54|  18.09|    18.19|   18.58| 18.62|   18.62| 21.54|
|         22| 21.44|  19.18|    18.85|   19.11| 18.85|    18.9| 23.43|
|         23| 24.63|   21.0|    20.34|   19.96| 19.15|    18.9|  26.2|
+-----------+------+-------+---------+--------+------+--------+------+

In [26]:
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']

peak.groupBy('pickup_hour') \
    .pivot('month_pickup', month_order) \
    .mean('fare_amount') \
    .orderBy('pickup_hour') \
    .select('pickup_hour', *[round(col, 2).alias(col) for col in month_order]) \
    .show(25)

+-----------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+
|pickup_hour|January|February|March|April|  May| June| July|August|September|October|November|December|
+-----------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+
|         00|  19.57|   18.98|19.68|19.67|20.02|20.52|21.23| 20.42|    20.59|  19.51|    18.8|   18.74|
|         01|  17.61|   16.74|18.24|18.11|18.16|19.07|19.51|  18.2|    18.62|  17.02|   16.41|    16.7|
|         02|  16.43|   16.01|16.81|16.58|16.64|17.67|18.26| 17.15|    17.14|  16.02|   15.61|   15.56|
|         03|  17.15|   16.93|17.43|17.28| 17.3|17.95|18.56| 17.78|    17.51|  16.94|    16.6|   16.65|
|         04|  21.04|   21.57|21.95|22.26|22.37|22.89|22.95| 22.68|    22.45|   21.8|   22.09|   21.47|
|         05|  24.95|   26.16|25.58|26.45|25.75| 25.9|26.58| 25.81|    25.83|  27.17|   25.81|   25.88|
|         06|  21.27|    21.7|22.23| 22.9|22.01|22.22|21.98| 22.31|    22.19|   22.6|   22.14|   22.58|
|         07|   18.4|   18.46|18.54|19.16|18.64|18.83|19.37| 19.13|    19.03|  19.02|   18.93|   19.39|
|         08|  17.04|   17.05| 17.5| 18.0| 18.5|18.42| 18.5| 18.42|    19.01|  18.46|   18.56|   18.39|
|         09|  17.23|   17.38|17.84|18.02|18.48|18.43|18.56| 18.25|     19.2|  18.87|    18.8|   18.63|
|         10|  17.33|   17.24|18.03|18.22|19.04| 18.7|18.62| 18.78|    20.84|  18.91|    19.1|   18.81|
|         11|  17.02|   17.21|18.16|18.44|19.57|19.26|18.76| 18.89|    20.17|  19.46|   19.18|   18.78|
|         12|  17.33|   17.63|18.51| 18.9|19.92|19.53|18.88| 19.28|    20.36|  19.75|   19.53|   19.01|
|         13|   18.0|   18.47|19.09|19.54|20.64|22.33|19.29| 19.79|    21.06|  20.33|   20.35|    19.9|
|         14|  19.16|   19.08|19.89|20.41|21.19|20.63|19.98|  20.3|    21.75|  21.38|   21.13|   20.89|
|         15|  18.74|   18.71|19.87|20.42|21.16|20.73|20.25| 20.48|    22.97|  21.54|   21.01|   20.76|
|         16|  19.02|   18.72|19.86|20.44|21.17| 21.1|20.46| 20.54|    21.82|   21.4|   20.86|   20.92|
|         17|  18.28|   17.87|18.57|19.29|19.67|19.35|19.26| 19.49|    20.33|  19.72|   19.44|   19.77|
|         18|  16.75|   16.63|17.46|17.98|18.14|17.86| 18.1| 18.06|     18.9|  18.74|   18.22|   18.55|
|         19|  17.43|   17.35|17.37| 17.9|17.89|17.97|18.13| 18.27|    18.68|  18.83|    18.7|   18.82|
|         20|  17.83|   17.73|17.95|18.16|18.63|18.91| 19.0| 19.32|    19.54|  19.47|   18.82|    18.8|
|         21|  18.34|   18.12|18.35| 18.6|18.74|19.13|19.24|  19.3|    19.83|  19.41|   18.78|   18.72|
|         22|  19.23|   18.75|19.36|19.59|19.62|20.12|20.09| 20.06|    20.37|  20.06|   19.33|   19.25|
|         23|  20.39|   19.68|20.28|20.95|20.98|21.24|21.69| 21.64|    21.32|  21.13|   19.85|   19.58|
+-----------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+

### 2.5. Pickup/Drop-off Locations
* Create heatmaps to visualize the density of pickups or drop-offs across different hours or days. This will help you identify areas with high taxi demand during peak hours.
* Identify Popular Pickup/Drop-off Locations: Determine the most common pickup and drop-off locations during peak hours. This analysis will provide insights into areas with high transportation needs during busy periods.

(im tra khach  u => khach thng i ti u => phn khuc khach hang la ai!!!)

### 2.6. time periods.
Visualize Results: Use line charts, bar plots, heatmaps, or other suitable visualizations to present your findings and highlight the peak hours and traffic patterns in the NYC trip data.

-----
## 3. Geospatial Analysis
Utilize the pickup and drop-off location data to perform geospatial analysis. Visualize the distribution of taxi trips across different neighborhoods, boroughs, or specific areas of interest. Identify hotspots, popular destinations, and areas with high demand for taxi services.

=> i trong thanh ph nhiu hn hay ngoai  nhiu hn (borough)

In [29]:
df.createOrReplaceTempView('geo')
geo = spark.table('geo')

In [30]:
geo.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- pickup_hour: string (nullable = true)
 |-- dropoff_hour: string (nullable = true)
 |-- dow_pickup: string (nullable = true)
 |-- dow_dropoff: string (nullable = true)
 |-- month_pickup: string (nullable = true)
 |-- month_dropoff: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)
 |-- dropoff_zone: string (nullable = true)

### 3.1. The Common Drop-off Borough and Zone

In [31]:
geo1 = geo.groupBy("pickup_borough", "dropoff_borough") \
            .agg(F.count("dropoff_borough").alias("trips_arrived")) \
            .orderBy("pickup_borough") \
            .select("pickup_borough", "dropoff_borough", "trips_arrived")

In [32]:
geo1 = geo.select("pickup_borough","pickup_zone", "dropoff_borough", "dropoff_zone")

-----
##### Create function to input the borough name and then return the value of trips_arrived

In [33]:
# input the dropoff_borough
def within_borough(dropoff_borough):
    filtered_table = geo1.filter(F.col("pickup_borough") == F.col("dropoff_borough")) \
        .filter(F.col("dropoff_borough") == dropoff_borough) \
        .groupBy("pickup_borough", "dropoff_borough", "dropoff_zone") \
        .agg(F.count("dropoff_zone").alias("trips_arrived")) \
        .orderBy(F.asc("pickup_borough"), F.desc("trips_arrived")) \
        .select("pickup_borough", "dropoff_borough", "dropoff_zone", "trips_arrived")
    return filtered_table

# input the pickup_borough
def outside_borough(pickup_borough):
    filtered_table = geo1.filter(F.col("dropoff_borough") != F.col("pickup_borough")) \
                        .filter(F.col("pickup_borough") == pickup_borough) \
                        .groupBy("pickup_borough", "dropoff_borough", "dropoff_zone") \
                        .agg(F.count("dropoff_zone").alias("trips_arrived")) \
                        .orderBy(F.asc("pickup_borough"), F.desc("trips_arrived")) \
                        .select("pickup_borough", "dropoff_borough", "dropoff_zone", "trips_arrived")
    return filtered_table

-----
##### Trips within borough (city)

In [35]:
geo1.filter(F.col("pickup_borough") == F.col("dropoff_borough")) \
    .groupBy("pickup_borough", "dropoff_borough") \
    .agg(F.count("dropoff_borough").alias("trips_arrived")) \
    .orderBy("pickup_borough") \
    .select("pickup_borough", "dropoff_borough", "trips_arrived") \
    .show()

+--------------+---------------+-------------+
|pickup_borough|dropoff_borough|trips_arrived|
+--------------+---------------+-------------+
|         Bronx|          Bronx|        23799|
|      Brooklyn|       Brooklyn|        96420|
|           EWR|            EWR|           85|
|     Manhattan|      Manhattan|     29916253|
|           N/A|            N/A|         1184|
|        Queens|         Queens|       711060|
| Staten Island|  Staten Island|          504|
|       Unknown|        Unknown|       248275|
+--------------+---------------+-------------+

##### The number of trips traveling to zone within borough

In [36]:
geo1.filter(F.col("pickup_borough") == F.col("dropoff_borough")) \
    .groupBy("pickup_borough", "dropoff_borough", "dropoff_zone") \
    .agg(F.count("dropoff_zone").alias("trips_arrived")) \
    .orderBy(F.asc("pickup_borough"), F.desc("trips_arrived")) \
    .select("pickup_borough", "dropoff_borough", "dropoff_zone", "trips_arrived").show()

+--------------+---------------+--------------------+-------------+
|pickup_borough|dropoff_borough|        dropoff_zone|trips_arrived|
+--------------+---------------+--------------------+-------------+
|         Bronx|          Bronx|Van Nest/Morris Park|         1958|
|         Bronx|          Bronx|Mott Haven/Port M...|         1271|
|         Bronx|          Bronx|          Co-Op City|         1067|
|         Bronx|          Bronx|             Norwood|         1038|
|         Bronx|          Bronx|       Melrose South|         1005|
|         Bronx|          Bronx|East Concourse/Co...|          995|
|         Bronx|          Bronx|Soundview/Castle ...|          969|
|         Bronx|          Bronx|      West Concourse|          947|
|         Bronx|          Bronx|Williamsbridge/Ol...|          852|
|         Bronx|          Bronx|          Mount Hope|          835|
|         Bronx|          Bronx|      Pelham Parkway|          742|
|         Bronx|          Bronx|        East Tremont|          709|
|         Bronx|          Bronx|  Morrisania/Melrose|          697|
|         Bronx|          Bronx|          Highbridge|          658|
|         Bronx|          Bronx|University Height...|          626|
|         Bronx|          Bronx|  Claremont/Bathgate|          601|
|         Bronx|          Bronx|        Bedford Park|          590|
|         Bronx|          Bronx|Spuyten Duyvil/Ki...|          538|
|         Bronx|          Bronx|Schuylerville/Edg...|          527|
|         Bronx|          Bronx|Westchester Villa...|          511|
+--------------+---------------+--------------------+-------------+
only showing top 20 rows

In [37]:
dropoff_borough = geo1.select("dropoff_borough").distinct().collect()

for row in dropoff_borough:
    print(row[0])

Queens
EWR
Unknown
Brooklyn
Staten Island
N/A
Manhattan
Bronx

In [38]:
# automatically return the result
for row in geo1.select("dropoff_borough").distinct().collect():
    dropoff_borough = row[0]
    within_borough(dropoff_borough).show(5)

+--------------+---------------+-----------------+-------------+
|pickup_borough|dropoff_borough|     dropoff_zone|trips_arrived|
+--------------+---------------+-----------------+-------------+
|        Queens|         Queens|      JFK Airport|        69262|
|        Queens|         Queens|LaGuardia Airport|        41545|
|        Queens|         Queens|          Astoria|        35665|
|        Queens|         Queens|     Baisley Park|        31768|
|        Queens|         Queens| South Ozone Park|        29160|
+--------------+---------------+-----------------+-------------+
only showing top 5 rows

+--------------+---------------+--------------+-------------+
|pickup_borough|dropoff_borough|  dropoff_zone|trips_arrived|
+--------------+---------------+--------------+-------------+
|           EWR|            EWR|Newark Airport|           85|
+--------------+---------------+--------------+-------------+

+--------------+---------------+------------+-------------+
|pickup_borough|dropoff_borough|dropoff_zone|trips_arrived|
+--------------+---------------+------------+-------------+
|       Unknown|        Unknown|         N/A|       248275|
+--------------+---------------+------------+-------------+

+--------------+---------------+-------------------+-------------+
|pickup_borough|dropoff_borough|       dropoff_zone|trips_arrived|
+--------------+---------------+-------------------+-------------+
|      Brooklyn|       Brooklyn|   Brooklyn Heights|         5955|
|      Brooklyn|       Brooklyn|         Park Slope|         5812|
|      Brooklyn|       Brooklyn|        Fort Greene|         4786|
|      Brooklyn|       Brooklyn|        Boerum Hill|         4415|
|      Brooklyn|       Brooklyn|Crown Heights North|         4383|
+--------------+---------------+-------------------+-------------+
only showing top 5 rows

+--------------+---------------+--------------------+-------------+
|pickup_borough|dropoff_borough|        dropoff_zone|trips_arrived|
+--------------+---------------+--------------------+-------------+
| Staten Island|  Staten Island|Arrochar/Fort Wad...|          315|
| Staten Island|  Staten Island|           Stapleton|           35|
| Staten Island|  Staten Island|Bloomfield/Emerso...|           26|
| Staten Island|  Staten Island|Heartland Village...|           26|
| Staten Island|  Staten Island|Charleston/Totten...|           17|
+--------------+---------------+--------------------+-------------+
only showing top 5 rows

+--------------+---------------+--------------+-------------+
|pickup_borough|dropoff_borough|  dropoff_zone|trips_arrived|
+--------------+---------------+--------------+-------------+
|           N/A|            N/A|Outside of NYC|         1184|
+--------------+---------------+--------------+-------------+

+--------------+---------------+--------------------+-------------+
|pickup_borough|dropoff_borough|        dropoff_zone|trips_arrived|
+--------------+---------------+--------------------+-------------+
|     Manhattan|      Manhattan|Upper East Side N...|      1558627|
|     Manhattan|      Manhattan|Upper East Side S...|      1498857|
|     Manhattan|      Manhattan|      Midtown Center|      1314109|
|     Manhattan|      Manhattan|         Murray Hill|       998506|
|     Manhattan|      Manhattan| Lincoln Square East|       973910|
+--------------+---------------+--------------------+-------------+
only showing top 5 rows

+--------------+---------------+--------------------+-------------+
|pickup_borough|dropoff_borough|        dropoff_zone|trips_arrived|
+--------------+---------------+--------------------+-------------+
|         Bronx|          Bronx|Van Nest/Morris Park|         1958|
|         Bronx|          Bronx|Mott Haven/Port M...|         1271|
|         Bronx|          Bronx|          Co-Op City|         1067|
|         Bronx|          Bronx|             Norwood|         1038|
|         Bronx|          Bronx|       Melrose South|         1005|
+--------------+---------------+--------------------+-------------+
only showing top 5 rows

##### Trips outside borough (city)

In [39]:
geo1.filter(F.col("pickup_borough") != F.col("dropoff_borough")) \
    .groupBy("pickup_borough", "dropoff_borough") \
    .agg(F.count("dropoff_borough").alias("trips_arrived")) \
    .orderBy("pickup_borough") \
    .select("pickup_borough", "dropoff_borough", "trips_arrived") \
    .show(70)

+--------------+---------------+-------------+
|pickup_borough|dropoff_borough|trips_arrived|
+--------------+---------------+-------------+
|         Bronx|         Queens|         3601|
|         Bronx|       Brooklyn|         3728|
|         Bronx|  Staten Island|          175|
|         Bronx|            N/A|          286|
|         Bronx|      Manhattan|        16048|
|         Bronx|        Unknown|           35|
|      Brooklyn|      Manhattan|        63320|
|      Brooklyn|          Bronx|         3466|
|      Brooklyn|            N/A|          332|
|      Brooklyn|         Queens|        17023|
|      Brooklyn|        Unknown|          316|
|      Brooklyn|  Staten Island|          571|
|      Brooklyn|            EWR|            5|
|           EWR|            N/A|           55|
|           EWR|       Brooklyn|            7|
|           EWR|        Unknown|           18|
|           EWR|         Queens|           11|
|           EWR|      Manhattan|           23|
|           EWR|  Staten Island|            1|
|           EWR|          Bronx|            1|
|     Manhattan|            N/A|        11060|
|     Manhattan|            EWR|          696|
|     Manhattan|  Staten Island|         3480|
|     Manhattan|       Brooklyn|       733836|
|     Manhattan|         Queens|      1071608|
|     Manhattan|          Bronx|       100768|
|     Manhattan|        Unknown|        71538|
|           N/A|            EWR|           19|
|           N/A|        Unknown|           52|
|           N/A|  Staten Island|           11|
|           N/A|          Bronx|           99|
|           N/A|      Manhattan|          460|
|           N/A|       Brooklyn|          120|
|           N/A|         Queens|          554|
|        Queens|          Bronx|        75461|
|        Queens|            EWR|          219|
|        Queens|            N/A|        75315|
|        Queens|  Staten Island|         4726|
|        Queens|        Unknown|         6429|
|        Queens|      Manhattan|      2076181|
|        Queens|       Brooklyn|       537469|
| Staten Island|            N/A|           11|
| Staten Island|       Brooklyn|          334|
| Staten Island|         Queens|          245|
| Staten Island|      Manhattan|          376|
| Staten Island|            EWR|            1|
| Staten Island|          Bronx|          217|
| Staten Island|        Unknown|            2|
|       Unknown|          Bronx|          730|
|       Unknown|      Manhattan|        54587|
|       Unknown|         Queens|         6734|
|       Unknown|            EWR|            7|
|       Unknown|  Staten Island|           33|
|       Unknown|            N/A|          415|
|       Unknown|       Brooklyn|         4414|
+--------------+---------------+-------------+

##### The number of trips traveling to zone outside the borough

In [40]:
geo1.filter(F.col("pickup_borough") != F.col("dropoff_borough")) \
    .groupBy("pickup_borough", "dropoff_borough", "dropoff_zone") \
    .agg(F.count("dropoff_zone").alias("trips_arrived")) \
    .orderBy(F.asc("pickup_borough"), F.desc("trips_arrived")) \
    .select("pickup_borough", "dropoff_borough", "dropoff_zone", "trips_arrived") \
    .show(10)

+--------------+---------------+--------------------+-------------+
|pickup_borough|dropoff_borough|        dropoff_zone|trips_arrived|
+--------------+---------------+--------------------+-------------+
|         Bronx|      Manhattan|Central Harlem North|         1377|
|         Bronx|      Manhattan|   East Harlem South|         1159|
|         Bronx|      Manhattan|   East Harlem North|          993|
|         Bronx|      Manhattan|      Central Harlem|          790|
|         Bronx|      Manhattan|Washington Height...|          744|
|         Bronx|      Manhattan|     Lenox Hill East|          660|
|         Bronx|      Manhattan|            Kips Bay|          604|
|         Bronx|      Manhattan|        East Chelsea|          465|
|         Bronx|      Manhattan|    Hamilton Heights|          442|
|         Bronx|      Manhattan| Morningside Heights|          363|
+--------------+---------------+--------------------+-------------+
only showing top 10 rows

In [41]:
geo1a = geo.groupBy("pickup_borough", "dropoff_borough") \
            .agg(
                F.count("dropoff_borough").alias("trips_arrived"),
                F.round(F.mean("fare_amount"), 2).alias("mean_fare")) \
            .select("pickup_borough", "dropoff_borough", "trips_arrived", "mean_fare")

In [43]:
geo1a.filter(F.col("dropoff_borough") == F.col("pickup_borough")).show(10)

+--------------+---------------+-------------+---------+
|pickup_borough|dropoff_borough|trips_arrived|mean_fare|
+--------------+---------------+-------------+---------+
|           EWR|            EWR|           85|    51.03|
|     Manhattan|      Manhattan|     29916253|     13.8|
|      Brooklyn|       Brooklyn|        96420|    17.82|
|           N/A|            N/A|         1184|    41.68|
|        Queens|         Queens|       711060|     32.4|
|         Bronx|          Bronx|        23799|    21.13|
|       Unknown|        Unknown|       248275|    19.75|
| Staten Island|  Staten Island|          504|     9.52|
+--------------+---------------+-------------+---------+

In [44]:
geo1a.filter(F.col("dropoff_borough") != F.col("pickup_borough")) \
    .orderBy("dropoff_borough") \
    .show(70)

+--------------+---------------+-------------+---------+
|pickup_borough|dropoff_borough|trips_arrived|mean_fare|
+--------------+---------------+-------------+---------+
|      Brooklyn|          Bronx|         3466|    56.88|
|        Queens|          Bronx|        75461|    62.91|
|       Unknown|          Bronx|          730|    47.16|
|           N/A|          Bronx|           99|    49.77|
|     Manhattan|          Bronx|       100768|    39.07|
| Staten Island|          Bronx|          217|    67.36|
|           EWR|          Bronx|            1|    135.3|
|           EWR|       Brooklyn|            7|     85.6|
| Staten Island|       Brooklyn|          334|    52.47|
|         Bronx|       Brooklyn|         3728|    56.15|
|     Manhattan|       Brooklyn|       733836|    32.34|
|       Unknown|       Brooklyn|         4414|    45.81|
|           N/A|       Brooklyn|          120|    55.53|
|        Queens|       Brooklyn|       537469|    56.75|
|           N/A|            EWR|           19|    69.09|
|        Queens|            EWR|          219|   145.83|
|     Manhattan|            EWR|          696|    98.71|
|       Unknown|            EWR|            7|    131.8|
| Staten Island|            EWR|            1|     37.3|
|      Brooklyn|            EWR|            5|     94.7|
|      Brooklyn|      Manhattan|        63320|    31.47|
|       Unknown|      Manhattan|        54587|    22.92|
| Staten Island|      Manhattan|          376|    63.29|
|        Queens|      Manhattan|      2076181|     57.0|
|         Bronx|      Manhattan|        16048|     32.9|
|           N/A|      Manhattan|          460|    54.62|
|           EWR|      Manhattan|           23|    91.18|
|           EWR|            N/A|           55|    51.11|
|     Manhattan|            N/A|        11060|    93.87|
| Staten Island|            N/A|           11|   123.32|
|      Brooklyn|            N/A|          332|    81.47|
|        Queens|            N/A|        75315|    93.82|
|         Bronx|            N/A|          286|    52.58|
|       Unknown|            N/A|          415|     92.0|
|         Bronx|         Queens|         3601|    44.88|
| Staten Island|         Queens|          245|    66.94|
|      Brooklyn|         Queens|        17023|    42.86|
|       Unknown|         Queens|         6734|     38.7|
|     Manhattan|         Queens|      1071608|    48.29|
|           N/A|         Queens|          554|    43.79|
|           EWR|         Queens|           11|   137.94|
|           N/A|  Staten Island|           11|    47.19|
|        Queens|  Staten Island|         4726|    99.73|
|     Manhattan|  Staten Island|         3480|    76.04|
|         Bronx|  Staten Island|          175|    68.14|
|       Unknown|  Staten Island|           33|    92.62|
|      Brooklyn|  Staten Island|          571|    42.21|
|           EWR|  Staten Island|            1|     69.5|
|           N/A|        Unknown|           52|    81.53|
|        Queens|        Unknown|         6429|     57.5|
|      Brooklyn|        Unknown|          316|    28.61|
|         Bronx|        Unknown|           35|     27.2|
|           EWR|        Unknown|           18|   123.77|
|     Manhattan|        Unknown|        71538|    16.07|
| Staten Island|        Unknown|            2|   118.65|
+--------------+---------------+-------------+---------+

### 3.2. The Peak and Off Season of Locations

In [45]:
geo2a = geo.groupBy("dropoff_borough", "dow_dropoff") \
            .agg(F.count("tpep_dropoff_datetime").alias("num_of_trips"))

day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

geo2a.groupBy("dropoff_borough") \
    .pivot("dow_dropoff", day_order) \
    .sum("num_of_trips") \
    .orderBy("dropoff_borough") \
    .show()

+---------------+-------+-------+---------+--------+-------+--------+-------+
|dropoff_borough| Monday|Tuesday|Wednesday|Thursday| Friday|Saturday| Sunday|
+---------------+-------+-------+---------+--------+-------+--------+-------+
|          Bronx|  28350|  29636|    30599|   29943|  29836|   27835|  28342|
|       Brooklyn| 175302| 184627|   196266|  203775| 196315|  203754| 216289|
|            EWR|    146|    101|      141|     141|    170|     160|    173|
|      Manhattan|3972006|4705876|  4985491| 5071312|4778594| 4700173|3913796|
|            N/A|  14111|  12633|    12067|   12616|  12445|   10427|  14359|
|         Queens| 255208| 247151|   260488|  274361| 266083|  225675| 281870|
|  Staten Island|   1224|   1358|     1415|    1454|   1372|    1268|   1410|
|        Unknown|  41307|  47010|    49062|   50480|  46866|   49322|  42618|
+---------------+-------+-------+---------+--------+-------+--------+-------+

In [47]:
geo2b = geo.groupBy("dropoff_borough", "month_dropoff") \
            .agg(F.count("dropoff_borough").alias("trips"))

month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']

geo2b.groupBy("dropoff_borough") \
    .pivot("month_dropoff", month_order) \
    .sum("trips") \
    .orderBy("dropoff_borough") \
    .show()

+---------------+-------+--------+-------+-------+-------+-------+-------+-------+---------+-------+--------+--------+
|dropoff_borough|January|February|  March|  April|    May|   June|   July| August|September|October|November|December|
+---------------+-------+--------+-------+-------+-------+-------+-------+-------+---------+-------+--------+--------+
|          Bronx|  16179|   14500|  18161|  18013|  18997|  17474|  18025|  19303|    15603|  16794|   15847|   15645|
|       Brooklyn| 111304|  102624| 120463| 119729| 128820| 122647| 107542| 109043|   103676| 123863|  113286|  113331|
|            EWR|    156|     143|    209|    183|     59|     50|     58|     40|       36|     36|      28|      34|
|      Manhattan|2622890| 2489294|2892109|2780703|2957022|2771565|2424408|2337569|  2332122|2923747| 2800193| 2795626|
|            N/A|   6639|    5985|   7292|   7617|   7063|   8093|   8587|   8653|     6916|   7915|    7057|    6841|
|         Queens| 142184|  129131| 159359| 156046| 169932| 163389| 148154| 148707|   137722| 163157|  147672|  145383|
|  Staten Island|    774|     671|    861|    844|    861|    931|    931|    911|      660|    701|     645|     711|
|        Unknown|  18955|   22647|  31252|  33398|  35755|  32531|  28331|  25288|    25764|  29235|   26599|   16910|
+---------------+-------+--------+-------+-------+-------+-------+-------+-------+---------+-------+--------+--------+

-----
## 4. Fare and Pricing Analysis
Analyze fare amounts and pricing structures. Investigate factors that influence fare variations, such as trip distance, time of day, and rate codes. Explore the impact of additional charges, tolls, and surcharges on the total fare amount. Compare fare amounts between different vendors or payment methods.

In [49]:
df.select("fare_amount").summary().show()

+-------+------------------+
|summary|       fare_amount|
+-------+------------------+
|  count|          35944809|
|   mean|19.261310007517885|
| stddev| 77.41689208909388|
|    min|              0.02|
|    25%|               9.3|
|    50%|              13.5|
|    75%|              21.9|
|    max|         386983.63|
+-------+------------------+

In [50]:
df.createOrReplaceTempView('fare')
fare = spark.table('fare')

In [52]:
fare.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- pickup_hour: string (nullable = true)
 |-- dropoff_hour: string (nullable = true)
 |-- dow_pickup: string (nullable = true)
 |-- dow_dropoff: string (nullable = true)
 |-- month_pickup: string (nullable = true)
 |-- month_dropoff: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)
 |-- dropoff_zone: string (nullable = true)

### 4.1. The Fare based on Trip Distances

In [54]:
fare = fare.withColumn('tpep_pickup_datetime_utc', F.from_utc_timestamp(fare['tpep_pickup_datetime'], 'UTC')) \
            .withColumn('tpep_dropoff_datetime_utc', F.from_utc_timestamp(fare['tpep_dropoff_datetime'], 'UTC')) \
            .withColumn('time(min)',
                        ((F.col('tpep_dropoff_datetime_utc').cast('long') 
                              - F.col('tpep_pickup_datetime_utc').cast('long')) / 60).cast('double'))

fare = fare.drop('tpep_pickup_datetime_utc', 'tpep_dropoff_datetime_utc')

In [55]:
fare = fare.withColumn('speed', (F.col('trip_distance')/ F.col('time(min)')))

In [56]:
fare.select(round("speed", 2).alias("speed"), 
             round("trip_distance").alias("trip_distance"), 
             round("time(min)").alias("time(min)")) \
        .show()

+-----+-------------+---------+
|speed|trip_distance|time(min)|
+-----+-------------+---------+
| 0.12|          1.0|      8.0|
| 0.17|          1.0|      6.0|
|  0.2|          3.0|     13.0|
|  0.2|          2.0|     10.0|
| 0.13|          1.0|     11.0|
| 0.15|          2.0|     12.0|
| 0.16|          2.0|     10.0|
| 0.51|         12.0|     23.0|
|  0.2|          3.0|     15.0|
| 0.28|          3.0|     11.0|
| 0.21|          2.0|      9.0|
| 0.22|          7.0|     34.0|
| 0.11|          3.0|     30.0|
| 0.57|         11.0|     20.0|
| 0.19|          3.0|     15.0|
| 0.17|          2.0|      9.0|
|  0.1|          2.0|     22.0|
|  0.3|          5.0|     15.0|
|  0.2|          1.0|      6.0|
| 0.17|          3.0|     14.0|
+-----+-------------+---------+
only showing top 20 rows

In [59]:
fare.select("trip_distance").summary().show()

+-------+------------------+
|summary|     trip_distance|
+-------+------------------+
|  count|          35944809|
|   mean|3.4252982398653558|
| stddev| 4.389856609919622|
|    min|              0.01|
|    25%|              1.08|
|    50%|               1.8|
|    75%|              3.38|
|    max|              99.9|
+-------+------------------+

In [61]:
from pyspark.sql.functions import col, floor
bin_size = (99.9 - 0.01)/ 10
fare = fare.withColumn("distance_bin", (floor(col("trip_distance") / bin_size) * bin_size))

In [63]:
fare.groupBy("distance_bin") \
    .agg(F.round(F.mean("fare_amount"), 2).alias("fare")) \
    .select("distance_bin", "fare") \
    .orderBy("distance_bin") \
    .show()

+------------------+------+
|      distance_bin|  fare|
+------------------+------+
|               0.0| 15.17|
|             9.989| 60.79|
|            19.978|  78.8|
|29.967000000000002|141.19|
|            39.956|225.77|
| 49.94500000000001| 275.2|
|59.934000000000005|317.56|
|            69.923|371.08|
|            79.912|448.15|
| 89.90100000000001|454.94|
| 99.89000000000001| 364.2|
+------------------+------+

### 4.2. The Fare based on Locations

In [67]:
fare.filter(F.col("pickup_borough") == F.col("dropoff_borough")) \
    .groupBy("pickup_borough", "dropoff_borough") \
    .agg(F.count("dropoff_borough").alias("trips_arrived"),
         F.round(F.mean("fare_amount"), 2).alias("avg_fare")) \
    .orderBy("pickup_borough") \
    .select("pickup_borough", "dropoff_borough", "trips_arrived", "avg_fare") \
    .show()

+--------------+---------------+-------------+--------+
|pickup_borough|dropoff_borough|trips_arrived|avg_fare|
+--------------+---------------+-------------+--------+
|         Bronx|          Bronx|        23799|   21.13|
|      Brooklyn|       Brooklyn|        96420|   17.82|
|           EWR|            EWR|           85|   51.03|
|     Manhattan|      Manhattan|     29916253|    13.8|
|           N/A|            N/A|         1184|   41.68|
|        Queens|         Queens|       711060|    32.4|
| Staten Island|  Staten Island|          504|    9.52|
|       Unknown|        Unknown|       248275|   19.75|
+--------------+---------------+-------------+--------+

In [71]:
fare.filter(F.col("pickup_borough") != F.col("dropoff_borough")) \
    .groupBy("pickup_borough", "dropoff_borough") \
    .agg(F.count("dropoff_borough").alias("trips_arrived"),
         F.round(F.mean("fare_amount"), 2).alias("avg_fare")) \
    .orderBy("pickup_borough") \
    .select("pickup_borough", "dropoff_borough", "trips_arrived", "avg_fare") \
    .show(70)

+--------------+---------------+-------------+--------+
|pickup_borough|dropoff_borough|trips_arrived|avg_fare|
+--------------+---------------+-------------+--------+
|         Bronx|         Queens|         3601|   44.88|
|         Bronx|       Brooklyn|         3728|   56.15|
|         Bronx|  Staten Island|          175|   68.14|
|         Bronx|            N/A|          286|   52.58|
|         Bronx|      Manhattan|        16048|    32.9|
|         Bronx|        Unknown|           35|    27.2|
|      Brooklyn|      Manhattan|        63320|   31.47|
|      Brooklyn|          Bronx|         3466|   56.88|
|      Brooklyn|            N/A|          332|   81.47|
|      Brooklyn|         Queens|        17023|   42.86|
|      Brooklyn|        Unknown|          316|   28.61|
|      Brooklyn|  Staten Island|          571|   42.21|
|      Brooklyn|            EWR|            5|    94.7|
|           EWR|            N/A|           55|   51.11|
|           EWR|       Brooklyn|            7|    85.6|
|           EWR|        Unknown|           18|  123.77|
|           EWR|         Queens|           11|  137.94|
|           EWR|      Manhattan|           23|   91.18|
|           EWR|  Staten Island|            1|    69.5|
|           EWR|          Bronx|            1|   135.3|
|     Manhattan|            N/A|        11060|   93.87|
|     Manhattan|            EWR|          696|   98.71|
|     Manhattan|  Staten Island|         3480|   76.04|
|     Manhattan|       Brooklyn|       733836|   32.34|
|     Manhattan|         Queens|      1071608|   48.29|
|     Manhattan|          Bronx|       100768|   39.07|
|     Manhattan|        Unknown|        71538|   16.07|
|           N/A|            EWR|           19|   69.09|
|           N/A|        Unknown|           52|   81.53|
|           N/A|  Staten Island|           11|   47.19|
|           N/A|          Bronx|           99|   49.77|
|           N/A|      Manhattan|          460|   54.62|
|           N/A|       Brooklyn|          120|   55.53|
|           N/A|         Queens|          554|   43.79|
|        Queens|          Bronx|        75461|   62.91|
|        Queens|            EWR|          219|  145.83|
|        Queens|            N/A|        75315|   93.82|
|        Queens|  Staten Island|         4726|   99.73|
|        Queens|        Unknown|         6429|    57.5|
|        Queens|      Manhattan|      2076181|    57.0|
|        Queens|       Brooklyn|       537469|   56.75|
| Staten Island|            N/A|           11|  123.32|
| Staten Island|       Brooklyn|          334|   52.47|
| Staten Island|         Queens|          245|   66.94|
| Staten Island|      Manhattan|          376|   63.29|
| Staten Island|            EWR|            1|    37.3|
| Staten Island|          Bronx|          217|   67.36|
| Staten Island|        Unknown|            2|  118.65|
|       Unknown|          Bronx|          730|   47.16|
|       Unknown|      Manhattan|        54587|   22.92|
|       Unknown|         Queens|         6734|    38.7|
|       Unknown|            EWR|            7|   131.8|
|       Unknown|  Staten Island|           33|   92.62|
|       Unknown|            N/A|          415|    92.0|
|       Unknown|       Brooklyn|         4414|   45.81|
+--------------+---------------+-------------+--------+

### 4.3. The Fare Amount during Peak Season

In [77]:
hour = ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', 
        '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', 
        '21', '22', '23']

fare.filter(F.col("pickup_borough") == F.col("dropoff_borough")) \
    .groupBy("dropoff_borough") \
    .pivot("dropoff_hour", hour) \
    .mean("fare_amount") \
    .orderBy("dropoff_borough") \
    .select("dropoff_borough", *[round(col, 2).alias(col) for col in hour]) \
    .show(10)

+---------------+-----+-----+-----+-----+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|dropoff_borough|   00|   01|   02|   03|    04|   05|   06|   07|   08|   09|   10|   11|   12|   13|   14|   15|   16|   17|   18|   19|   20|   21|   22|   23|
+---------------+-----+-----+-----+-----+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|          Bronx|16.67|14.42|16.29|16.44| 19.69|23.79|23.96|23.75|21.27| 21.0|20.94|21.03|21.03|20.87|20.39|20.89|20.99|22.22|20.76|20.94| 20.0| 19.8|19.51|17.25|
|       Brooklyn|15.14| 15.1| 15.4|16.91| 20.21|21.67| 21.1| 19.9| 19.2|19.67|20.08|19.84|20.13|19.59|19.04|18.43|18.67|17.25|16.76| 16.0|15.54|15.07|14.77|14.93|
|            EWR| NULL| NULL| 42.0| NULL|105.25|48.33|56.74|  6.5|  7.2| 10.7|41.47|  3.7|75.25|60.93|  6.5|42.36|71.79| 80.0|57.67|47.86|  3.0| NULL|  3.0|  3.0|
|      Manhattan|13.95|13.53|13.44|13.36| 13.64|11.56|11.13|11.81|12.84| 13.4|13.75|13.88|14.11|14.38|14.14|14.28|14.27|14.16|13.92|13.59|13.48| 13.6|13.94|14.08|
|            N/A|44.66|38.52|44.89|38.91| 61.98|64.13| 44.5|41.97|43.77|26.45|32.38|33.84|31.31|35.32|40.43|28.54|45.27|43.35|40.78|46.28|33.08|52.37|50.96|55.31|
|         Queens|32.21|32.82|31.49|30.47| 31.99|33.47|32.05|33.62|33.67|31.61|30.32|31.04|31.01|31.87|32.77|33.97|35.27| 34.6|33.54|32.19|32.24|31.57|30.47|30.89|
|  Staten Island| 5.62| 4.18| 5.32| 4.03|  8.81| 4.28| 7.43| 7.75| 6.02|14.97|21.25|11.73|12.88|11.01|10.72| 6.72| 19.8|18.38| 6.76| 9.17| 7.84|  7.5| 9.75| 8.42|
|        Unknown|22.43|19.98|17.79|18.03| 20.58| 21.7|19.33|17.94|18.23|18.44|18.67|18.97|19.09|19.83|20.16|20.88|21.42|20.95|19.28|18.85|19.49|19.21|19.78|21.12|
+---------------+-----+-----+-----+-----+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+

In [80]:
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']

fare.filter(F.col("pickup_borough") == F.col("dropoff_borough")) \
    .groupBy("dropoff_borough") \
    .pivot("month_dropoff", month_order) \
    .mean("fare_amount") \
    .orderBy("dropoff_borough") \
    .select("dropoff_borough", *[round(col, 2).alias(col) for col in month_order]) \
    .show(10)

+---------------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+
|dropoff_borough|January|February|March|April|  May| June| July|August|September|October|November|December|
+---------------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+
|          Bronx|  20.88|   20.52|20.92|21.11|21.35|20.79|21.01| 21.02|    20.92|   21.2|   22.01|   21.44|
|       Brooklyn|  18.06|   17.32|17.59|17.49|17.56|17.31|17.48| 18.41|    18.09|  17.94|   17.97|   18.45|
|            EWR|  85.09|   41.22| 65.7| 46.2| 34.9| 53.0|35.43| 59.67|    27.63|  62.16|   43.99|   64.65|
|      Manhattan|  13.03|    13.2|13.39| 13.6|13.99|13.97| 13.6| 13.52|    14.45|  14.28|   14.18|    14.3|
|            N/A|  36.83|    48.6|38.73|44.06|39.54|42.27|48.09| 40.23|    44.31|  46.25|   34.46|   32.55|
|         Queens|  30.38|   31.27|31.83|32.57| 32.8|33.67|33.44| 32.75|    33.09|  32.56|   31.92|   31.96|
|  Staten Island|  15.81|    8.49| 8.21|  8.6| 8.15| 9.14| 6.15|  8.31|    14.16|   8.92|    7.47|   11.75|
|        Unknown|  18.66|   18.22| 19.4|19.78|20.49|20.15|20.03| 19.96|    19.87|   20.2|   19.65|   19.16|
+---------------+-------+--------+-----+-----+-----+-----+-----+------+---------+-------+--------+--------+

In [79]:
hour = ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', 
        '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', 
        '21', '22', '23']

fare.filter(F.col("pickup_borough") != F.col("dropoff_borough")) \
    .groupBy("dropoff_borough") \
    .pivot("dropoff_hour", hour) \
    .mean("fare_amount") \
    .orderBy("dropoff_borough") \
    .select("dropoff_borough", *[round(col, 2).alias(col) for col in hour]) \
    .show(70)

+---------------+------+------+------+-----+------+-----+------+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+
|dropoff_borough|    00|    01|    02|   03|    04|   05|    06|    07|    08|    09|    10|    11|   12|    13|    14|    15|    16|    17|    18|    19|    20|    21|    22|    23|
+---------------+------+------+------+-----+------+-----+------+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+
|          Bronx|  49.9| 49.55| 47.99|46.34|  46.0|47.48| 49.42|  48.1| 47.81|  47.5| 48.05|  50.1|46.41| 46.15| 48.54| 51.29| 53.28| 54.37| 51.48|  51.4| 49.59| 49.12| 48.16| 48.64|
|       Brooklyn| 40.57| 36.88| 32.38|30.35| 30.97|41.05| 49.52| 51.83| 50.91| 47.59| 44.87| 44.38|44.02| 44.71| 45.49| 47.35| 48.86| 48.38| 45.43| 43.15| 42.64| 41.21| 40.02| 40.93|
|            EWR|134.25|119.17|105.47|93.48|102.64|98.77|105.05|108.78|112.11|112.94|109.51|108.11|99.64|108.36|104.63|104.45|107.03|113.89| 118.5|114.67|115.96|106.22|132.44|126.04|
|      Manhattan|  56.0| 59.34| 56.33|51.39| 47.71|53.67|  56.5| 57.59|  55.5| 54.26| 51.25|  51.2|52.34| 53.32| 54.22|  56.4| 57.25| 57.72| 56.84| 55.34| 55.67| 55.15| 55.51| 55.38|
|            N/A| 92.15| 96.75| 95.94|94.77| 91.34|79.08| 70.69| 83.74|  96.8| 91.61|  91.8| 95.23|92.32| 91.98| 95.69| 92.89| 98.89|101.57|102.13| 94.27|  93.5| 93.97| 90.28| 89.75|
|         Queens| 31.32| 30.54| 31.04|34.26| 42.31|49.31| 50.72|  49.9| 50.18|  50.6| 49.84|  50.3|51.02| 52.26| 54.06| 54.87| 58.15|  55.0| 52.53| 48.13| 42.41| 36.93| 32.89| 31.95|
|  Staten Island| 84.02| 77.59| 75.31|70.16| 70.27|69.62| 76.03| 88.15| 85.01| 85.09| 86.97| 90.75|87.17| 87.37| 89.61|  87.4| 88.07| 90.41| 93.11| 91.01| 90.94| 88.64| 83.96| 86.51|
|        Unknown| 22.04| 19.13| 17.74|18.32| 23.02|25.98| 18.39|  16.5| 17.03| 17.83| 17.51| 17.39|17.77| 18.12|  20.7| 20.91| 21.13| 21.49| 20.41| 19.45| 19.86| 19.52|  20.2| 21.02|
+---------------+------+------+------+-----+------+-----+------+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+

In [81]:
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']

fare.filter(F.col("pickup_borough") != F.col("dropoff_borough")) \
    .groupBy("dropoff_borough") \
    .pivot("month_dropoff", month_order) \
    .mean("fare_amount") \
    .orderBy("dropoff_borough") \
    .select("dropoff_borough", *[round(col, 2).alias(col) for col in month_order]) \
    .show(70)

+---------------+-------+--------+------+------+-----+-----+-----+------+---------+-------+--------+--------+
|dropoff_borough|January|February| March| April|  May| June| July|August|September|October|November|December|
+---------------+-------+--------+------+------+-----+-----+-----+------+---------+-------+--------+--------+
|          Bronx|  47.97|   47.39| 48.35| 48.65|49.45|50.61|50.41| 50.73|    50.34|  50.58|   50.04|   48.42|
|       Brooklyn|  41.58|   41.49| 42.04| 42.51|42.54|43.05|43.61| 43.64|    44.02|  43.36|   42.74|   42.01|
|            EWR| 113.97|  107.84|117.77|120.52|96.26| 99.3|97.02| 87.37|    86.76|  88.81|  104.15|    92.2|
|      Manhattan|  52.89|    52.8| 54.98| 55.76|55.72|55.93|55.89| 55.21|    56.72|  55.65|   55.19|   55.78|
|            N/A|  87.69|   92.14| 94.89| 94.99|94.15| 97.2|95.28| 91.61|    95.74|   92.6|   93.76|   92.23|
|         Queens|  45.29|    45.4| 46.77| 47.76|48.88|48.25|47.16|  48.2|    52.32|  49.53|    48.8|    48.9|
|  Staten Island|  82.49|   83.53| 83.36| 84.51|83.94|85.94|86.34| 89.41|    90.01|  91.05|   88.07|   86.33|
|        Unknown|  19.24|   18.89| 19.73| 20.86|22.31| 19.7|19.67| 19.08|     19.2|  18.89|   19.12|   19.18|
+---------------+-------+--------+------+------+-----+-----+-----+------+---------+-------+--------+--------+

In [ ]:
fare

In [ ]:
fare.filter